<form
        id="graph-input"
        [formGroup]="graphFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <div class="input-field">
          <label for="source">Source</label>
          <input type="text" id="source" formControlName="source" />
        </div>
        <div
          *ngIf="source.invalid && (source.touched || source.dirty)"
          class="error-message"
        >
          <div *ngIf="source.errors?.['required']">
            <p>Please enter the source node</p>
          </div>
          <div *ngIf="source.errors?.['pattern']">
            <p>Please enter a number</p>
          </div>
          <div *ngIf="source.errors?.['checkSourceSinkId']">
            <p>Please enter a number within the range!</p>
          </div>
        </div>
        <div class="input-field mt-2">
            <label for="source">Sink</label>
            <input type="text" id="sink" formControlName="sink" />
          </div>
          <div
            *ngIf="sink.invalid && (sink.touched || sink.dirty)"
            class="error-message"
          >
            <div *ngIf="sink.errors?.['required']">
              <p>Please enter the sink node.</p>
            </div>
            <div *ngIf="sink.errors?.['pattern']">
              <p>Please enter a number.</p>
            </div>
            <div *ngIf="sink.errors?.['checkSourceSinkId']">
                <p>Please enter a number within the range!</p>
              </div>
          </div>
        <button
          type="submit"
          class="fill-btn mt-3"
          [disabled]="graphFormGroup.invalid"
        >
          Continue
        </button>
      </form>

      <div class="modal" 
      id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true"
      [ngStyle] = "{'display': displayStyle}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              The source and sink are not connected! Please choose another set of vertices. 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click) = "closeModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
